@model chat_application.Models.DashboardModel

@{
    Layout = null;
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<html>
<head>

<link href="~/css/site.css" type="text/css" rel="stylesheet">
    <style>

    </style>
</head>
<body>
<div class="container">
<h3 class=" text-center" id="title">Messaging</h3>
<div class="messaging">
  <div class="inbox_msg">
    <div class="inbox_people">
      <div class="headind_srch">
        <div class="recent_heading">
          <h4>Recent</h4>
        </div>
        <div class="srch_bar">
          <div class="stylish-input-group">
            <input type="text" class="search-bar"  placeholder="Search" >
            <span class="input-group-addon">
            <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
            </span> </div>
        </div>
      </div>
      <div class="inbox_chat">

        <div id="users">
          <div class='chat_list active_chat'  id='All'>
            <div class='chat_people'>
              <div class='chat_ib'>
                <h5 style="cursor:pointer" name="SelectBroadcast" onclick="SelectBroadcast('All')">Public Chat</h5>
              </div>
            </div>
          </div>
          @foreach (var item in Model.users)
          {
              <div class='chat_list active_chat' id='@item.UserName'>
                <div class='chat_people'>
                  <div class='chat_ib'>
                    <div class='chat_img'> 
                      <img src='https://ptetutorials.com/images/user-profile.png'>
                    </div>
                    <h5 style="cursor:pointer" name="SelectUser" onclick="SelectUser('@item.UserName')"> 
                      @item.UserName
                    </h5>
                    <img src='../../../upload/icon/red.png' style='width:10px; height:10px;'>
                  </div>
                </div>
              </div>
          }
        </div>

        @* MEMBER GROUPS *@
        <div id="groups">
          <hr/>
                <h5 style="display:inline;">MEMBER GROUPS</h5>
                <img onclick="$('#modalGroup').show()" data-toggle="modal" data-target="#modalGroup" style="display:inline;width:40px;height:40px;float:right;margin-right:15px;cursor:pointer;" src="https://image.flaticon.com/icons/svg/60/60732.svg">
          <hr/>
          @foreach (var item in Model.memberGroups)
          {
            <div class='chat_list active_chat' id='@item.Name'>
              <div class='chat_people'>
                <div class='chat_ib'>
                  <div class='chat_img'> 
                    <img style="width:40px;height:40px;border-radius:100%;" src="https://st2.depositphotos.com/4520249/7735/v/950/depositphotos_77358214-stock-illustration-clients-public-group-icon.jpg">
                  </div>
                  <h5 style="cursor:pointer" name="SelectGroup" onclick="SelectGroup('@item.Name')"> 
                    @item.Name 
                  </h5>
                </div>
              </div>
            </div>
          }
        </div>

        @* DISCOVER GROUPS *@
        <div id="users">
          <hr/>
                <h5>DISCOVER GROUPS</h5>
          <hr/>
          @foreach (var item in Model.groups.Where(x=> !Model.memberGroups.Contains(x)).ToList())
          {
            <div class='chat_list active_chat' id='@item.Name'>
              <div class='chat_people'>
                <div class='chat_ib'>
                  <div class='chat_img'> 
                    <img style="width:40px;height:40px;border-radius:100%;" src="https://st2.depositphotos.com/4520249/7735/v/950/depositphotos_77358214-stock-illustration-clients-public-group-icon.jpg">
                  </div>
                  <h5> @item.Name </h5><h8 style="border-style: groove; margin-left: 5px;">private</h8>
                  <h6 style="cursor:pointer; margin-left: 10px; border: 2px;" id="JoinGroup" onclick="JoinGroup('@item.Name')">JOIN</h6>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
    <div class="mesgs">
      <div class="msg_history">
        <div id="messages">
          @foreach (var item in Model.messages.Where(x=>x.isRead == true || x.SenderName == Model.currentUserName).ToList())
          {
              @if(item.SenderName == Model.currentUserName) 
              {
                <div class='outgoing_msg'>
                  <div class='sent_msg'>
                    <p>@item.MessageContent</p>
                  </div>
                </div>
              }
              else 
              {
                <div class='incoming_msg'>
                  <div class='incoming_msg_img'>
                    <img src='https://ptetutorials.com/images/user-profile.png'><p>@item.SenderName</p>
                  </div>
                  <div class='received_msg'>
                    <div class='received_withd_msg'>
                      <p>@item.MessageContent</p>
                    </div>
                  </div>
                </div>
              }
          }
          @if(Model.messages.Where(x=> x.isRead == false && x.SenderName != Model.currentUserName).ToList().Count() > 0) 
          {
            <hr/>
            <div style="text-align:center;"><p>Okunmamis @Model.messages.Where(x=> x.isRead == false && x.SenderName != Model.currentUserName).ToList().Count() mesaj mevcut!!</p></div>
            <hr/>
            @foreach (var item in Model.messages.Where(x=>x.isRead == false && x.SenderName != Model.currentUserName).ToList())
            {
                
              <div class='incoming_msg'>
                <div class='incoming_msg_img'>
                  <img src='https://ptetutorials.com/images/user-profile.png'><p>@item.SenderName</p>
                </div>
                <div class='received_msg'>
                  <div class='received_withd_msg'>
                    <p>@item.MessageContent</p>
                  </div>
                </div>
              </div>
            }
          }
        </div>
      </div>
      <div class="type_msg">
        <div class="input_msg_write">
          <input type="text" id="message" class="write_msg" placeholder="Type a message" />
          <button class="msg_send_btn" id="sendButton" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal" id="modalGroup" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/administrator/create-group" method="post">
            <div class="form-group">
                <input type="text" required placeholder="Group Name" class="form-control inputbox" id="GroupName" name="GroupName" /><br />
            </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#modalGroup').hide();">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>
</div></div>
</body>
</html>

<script src="~/lib/signalr.js"></script>
<script src="~/js/message.js"></script>
<script src="~/css/site.css"></script>
